* {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;

}
body{
    transition: background-color 0.5s ease, color 0.5s ease;

}
.modo-noche{
    background: #181A1B;
    color: #F2F2F3;
}
/* ====================NAV====================*/
nav {

    padding: 10px;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .Logo {
    font-weight: bold;
    color: #333;
    font-size: 20px;

}
nav .Navigator {
    list-style: none;
    margin: 0;
    padding: 0;

}
nav .Navigator .bnav {
    display: inline-block;
    margin-right: 10px;

}

/* ====================HOME====================*/
.HOME {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}
.conteinertitle{
    height: 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.PrincipalTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: xxx-large;
}
.home {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Left, .Right, .Mid {
    border: 1px solid darkred;
    width: 100%;
    text-align: center;
}

.Left{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.biografy,.biocontact,.bioservices{
    padding-left: 20%;
    padding-right: 20%;
    border: 1px solid black;
}

.Right{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.yearsit, .yearslearn, .english{
    padding-left: 20%;
    padding-right: 20%;
    border: 1px solid black;
}

.ri-linkedin-box-line, .ri-github-line, .ri-discord-line{
    font-size: 35px;
}

.conteinerprofile{
    border: 1px solid green;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pictureframe{
    border: 2px dashed black;
    height: 100%;
    width: 45%;
    border-radius: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.picture{
    border: 2px solid black;
    height: 90%;
    width: 85%;
    border-radius: 7rem;
}

.iconsprofile{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}


/* ====================SKILL====================*/
.SKILLS {
    margin-top: 6vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;

}
.Title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.skills {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.backend, .frontend, .testing {
    border: 1px solid darkred;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondtitle{
    padding: 1rem;
}
.backendcontainer,.frontendconteiner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px;
    border: 1px solid red;
    padding: 0.5rem;
}
.skilldata{
    width: 80px;
    height: 150px;
}
.skillcapsule{
    width: 80px;
    height: 100px;
    border-radius: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F3;
}
.iconskill{
    width: 60px;
    height: 70px;
    background: #F2F2F3;}

/* ====================QUA====================*/
.QUALIFICATION {
    margin-top: 6vh;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;

}

.qualification {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.education, .work {
    border: 1px solid darkred;
    width: 100%;
    text-align: center;
}

/* ====================SERVICES====================*/
.SERVICES {
    margin-top: 6vh;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}
.services {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;

}


/* ====================PROJECTS====================*/
.PROJECTS {
    margin-top: 6vh;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;

}

.projects {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ====================CONTACT====================*/

.CONTACT {
    margin-top: 6vh;
    width: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.Contac {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.information, form {
    border: 1px solid darkred;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
form{
    justify-content: space-around;
    border: 2px solid red;


}

#email, #name, #message ,#buform{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    border-radius: 1rem;
}
label{

}
/* ====================FOOTER====================*/
footer {
    margin-top: 6vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.navfooter {
    list-style: none;
}

.iconfooter {
    display: inline-block;
}

.buttonfooter {
    display: inline-block
}

